.cards {
  border-bottom: solid 1px rgba(33, 33, 33, 0.4);
}

.cards__list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 413px);
  row-gap: 40px;
  column-gap: 20px;
  padding: 0;
  margin: 20px 0;
  list-style: none;
}

@media screen and (min-width: 320px) and (max-width: 879px) {
  .cards__list {
    grid-template-columns: repeat(1, 288px);
    align-items: center;
    margin: 20px auto;
    row-gap: 20px;
  }
}

@media screen and (min-width: 880px) and (max-width: 1320px) {
  .cards__list {
    grid-template-columns: repeat(2, 413px);
  }
}
