.card {
  display: flex;
  flex-direction: column;
  list-style: none;
  position: relative;
}

.card__image {
  max-width: 413px;
  height: 413px;
  border-radius: 10px;
}

.card__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 12px;
}

.card__name {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 320px;
  margin: 0;
}

.card__button {
  background: transparent url(../images/LikeButton.svg) center no-repeat;
  margin-left: auto;
  width: 23px;
  height: 20px;
  border: none;
  cursor: pointer;
}
.card__button:hover {
  background: transparent url(../images/LikeHoverButton.svg) center no-repeat;
}

@media screen and (min-width: 320px) and (max-width: 879px) {
  .card {
    margin: 0 auto;
  }
  .card__image {
    width: 100%;
  }
  .card__name {
    max-width: 275px;
  }
}
