@import "../vendor/fonts.css";

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__copywrite {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  color: #212121;
  margin: 80px 0;
}
