.modal {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-out;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__container {
  position: relative;
  background-color: white;
  color: black;
  border-radius: 8px;
  height: 408px;
  width: 730px;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
}

.modal__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 50px;
}

.modal__header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 630px;
  height: 40px;
  padding-top: 32px;
}

.modal__title {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 32px;
  color: rgba(33, 33, 33, 1);
  width: 169px;
  height: 32px;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: auto;
  align-items: center;
}

.modal__button-reset {
  background: none;
  border: none;
  align-items: center;
}

.modal__image-close {
  height: 40px;
  cursor: pointer;
  opacity: 40%;
}

.modal__image-close:hover {
  opacity: 1;
}

.modal__fieldset {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 630px;
  height: 272px;
  padding: 32px 0;
  border: none;
}

.modal__label {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 17.6px;
  color: rgba(33, 33, 33, 0.7);
  margin-bottom: 8px;
}

.modal__input {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  width: 620px;
  height: 52px;
  border: 1px solid rgba(33, 33, 33, 0.4);
  border-radius: 8px;
  margin-bottom: 32px;
  padding: 0;
  text-indent: 10px;
  cursor: pointer;
}

.modal__input:hover {
  border: 1px solid rgba(33, 33, 33, 1);
}

.modal__button {
  border-radius: 8px;
  background-color: rgba(33, 33, 33, 1);
  color: rgba(252, 245, 229, 1);
  width: 156px;
  height: 52px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  border: none;
}

.modal__button:hover {
  background-color: rgba(33, 33, 33, 0.8);
}

.modal__image-container {
  position: relative;
}

.modal__image-clicked {
  object-fit: fill;
  width: 100%;
  max-height: 75vh;
  max-width: 75vw;
  border-radius: 10px;
}

.modal__image-text-wrapper {
  width: max-content;
  height: 32px;
  margin-top: 8px;
  background-color: rgba(33, 33, 33, 1);
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 4px 8px;
}

.modal__image-text {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: rgba(255, 255, 255, 1);
  display: flex;
}

.modal__button-reset-picture {
  background: none;
  border: none;
  position: absolute;
  padding: 0 0 0 12.5px;
}

@media screen and (min-width: 10px) and (max-width: 600px) {
  .modal__container {
    height: 336px;
    width: 300px;
    margin: 134px auto auto auto;
  }
  .modal__form {
    margin: 12px;
  }
  .modal__header {
    width: 276px;
    padding-top: 0;
  }
  .modal__title {
    font-size: 20px;
    line-height: 20px;
    width: 106px;
    height: 20px;
  }
  .modal__fieldset {
    padding: 24px 0 0 0;
    width: 276px;
    height: 248px;
  }
  .modal__input {
    width: 276px;
    height: 48px;
    margin-bottom: 24px;
    font-size: 16px;
    line-height: 16px;
  }
  .modal__button {
    width: 276px;
  }
  .modal__image-container {
    height: auto;
    width: 288px;
    padding-left: 3px;
  }
  .modal__button-reset-picture {
    padding: 0;
    top: -48px;
    right: 0px;
  }
  .modal__image-clicked {
    max-height: 100vh;
    max-width: 100vh;
  }
}
